<div class="header">
    <img src="logo.png"/>
    <div class="nav-bar">
        <h1>Klub Kregulec</h1>
        <ul>
            <li>
                <a href="">Aktualności</a>
            </li>
            <li>
                <a href="">Wydarzenia</a>
            </li>
            <li>
                <a href="">Relacje z konwentów</a>
            </li>
            <li>
                <a href="">Członkowie klubu</a>
            </li>
            <li>
                <a href="">Gry planszowe</a>
            </li>
            <li>
                <a href="">Sala gier konsolowych</a>
            </li>
            <li>
                <a href="">Kontakt</a>
            </li>
            <li>
                <a href="">Sklep</a>
            </li>
        </ul>
    </div>
</div>


@code {

}
