<div class="news-container">
    <div class="news-grid">
        <div class="news-item">
            <img src="OIG2.jpg" alt="Zdjęcie">
            <p>Tekst przykładowego artykułu...</p>
            <a class="see-more">Zobacz...</a>
        </div>
        <div class="news-item">
            <img src="OIG2.jpg" alt="Zdjęcie">
            <p>Tekst przykładowego artykułu...</p>
            <a class="see-more">Zobacz...</a>
        </div>
        <div class="news-item">
            <img src="OIG2.jpg" alt="Zdjęcie">
            <p>Tekst przykładowego artykułu...</p>
            <a class="see-more">Zobacz...</a>
        </div>
        <div class="news-item">
            <img src="OIG2.jpg" alt="Zdjęcie">
            <p>Tekst przykładowego artykułu...</p>
            <a class="see-more">Zobacz...</a>
        </div>
    </div>
</div>

@code {
    private List<string> recentUpdates = new List<string>
    {
        "XDDD",
        "AAAAAAAA",
    };
}

