.news-container {
    max-width: 100%;
    padding: 20px;
}

.news-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .news-header h1 {
        margin: 30px;
    }

.more-btn {
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.news-item {
    background-color: #d3bc2f;
    padding: 10px;
    display: flex;
    margin: 30px;
    flex-direction: column;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 600px;
}
.news-item p {
    padding-top: 20px;
    font-weight: bold;
    align-content: start;
}

    .news-item img {
        max-width: 100%;
        height: 250px;
        border: 5px solid #036233;
        border-radius: 15px;
    }

.see-more {
    margin-top: auto;
    padding: 5px 10px;
    background-color: #036233;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    align-self: flex-end;
    text-decoration: none;
}