@inherits LayoutComponentBase
<div class="page">
    <main>
        <header>
            <KregulecWeb.APP.Components.Header />
        </header>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

