@inherits LayoutComponentBase

<div class="page">
    <main>
        <header>
            <KregulecWeb.APP.Components.Header />
        </header>
        <body>
            <KregulecWeb.APP.Components.About />
            <KregulecWeb.APP.Components.RecentUpdates />
        </body>
    </main>
</div>

