@inherits LayoutComponentBase
<div class="page">
    <main>
        <KregulecWeb.APP.Components.Header/>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
